.header-body {
  width: 100%;
  background-color: #f5be01;
}

.header-content {
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
  margin: 0px 20px;
}

.header-brand {
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 900;
}

.header-dropdown {
  display: none;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

li {
  cursor: pointer;
  margin: 0px 20px;
}
